body {
  background-color: #f5f5f5;
}

#header-container {
  background-image: linear-gradient(to right, #8fcfd9, #ddeba4);
  height: 75px;
  width: 100vmax;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-family: "sharp-sans-bold", "fallback-font", Arial, sans-serif;
  margin-left: 2rem;
  color: #f5f5f5;
  height: 75px;
  vertical-align: middle;
  font-size: 60px;
  text-shadow: 0px 3px 2px #808080;
}

.button {
  background-color: #659299;
  color: #f5f5f5;
  border: #f5f5f5 solid;
  margin-right: 2rem;
  border-radius: 16px;
  height: 70px;
  width: 120px;
}

.button:hover {
  background-color: #3b5559;
}

 div #examTableContainer{
  margin-top: 5%;
  margin-left: 23%;
  margin-right: 17%;
}

#examTableContainer table{
  text-align: center;
}

#examTableHeader{
  border: 2px;
  border-color: #97DBE6;
}

#examTableBody{
  background-color: #e9f3c3;

}

.examTable #examTableHeader{
  background-color: #97DBE6;
}