.patient-exam-container {
  display: flex;
  justify-content: center;
}

.info-container {
  display: flex;
  justify-content: space-between;
  width: 58%;
}

.patient-info-col {
  text-align: center;
}

.patient-data-container {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  height: 300px;
  text-align: left;
}

.data-box {
  background-color: #ddeba4;
  width: 297px;
  border-radius: 3px;
  padding: .5rem;
}

.exam-info-col {
  text-align: center;
}

.diagnosis-box {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ddeba4;
  height: 225px;
  width: 330px;
  border-radius: 3px;
}